@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Order History</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Product name</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Urun.UrunAd</td>
                    <td>@x.Urun.SatisFiyat</td>
                    <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
                </tr>
            }
    
</table>

