@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kategorie-Update</h2>
<br />

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post)) {
    <div class="form-group">
        @Html.Label("Kategoriename")
        @Html.TextBoxFor(x => x.KategoriAd, new {@class="form-control" })
       @Html.HiddenFor(x=>x.KategoriID)
        <br />
        <button class="btn btn-warning">Aktualisieren</button>
    
    </div>
}