@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>New category page</h2>
<br />

<form class="form-group" method="post">
    @Html.Label("Category name")
    @Html.TextBoxFor(x=>x.KategoriAd, new { @class="form-control"})
    <br />
    <button class="btn btn-info">Save</button>
</form>

