@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 20px">
    <tr>
        <th>ID </th>
        <th>Department name</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Detail</th>


    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Departmanid</td>
            <td>@k.DepartmanAd</td>
            <td><a href="/Departman/DepartmanSil/@k.Departmanid/" class="btn btn-danger">Delete</a></td>
            <td><a href="/Departman/DepartmanGetir/@k.Departmanid/" class="btn btn-warning">Update</a></td>
            <td><a href="/Departman/DepartmanDetay/@k.Departmanid/" class="btn btn-success" style="background-color:lightcoral">Detail</a></td>


        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{

    LiElementClasses = new List<string>

    {"page-link"}

})


<a href="/Departman/DepartmanEkle" class="btn btn-info">Add department</a>



