<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Customer Login</h3>
        <span class="fa fa-lock"></span>
        <div class="clear"></div>
        <div class="login-agileits-top">
            <form method="post">
                <input type="email" class="name" name="CariMail" Placeholder="E-Mail" required="" />
                <input type="password" class="password" name="CariSifre" Placeholder="Passwort" required="" />
                <input type="submit" value="Anmelden">
            </form>
        </div>
        <div class="login-agileits-bottom">
            <h6><a href="#">Forgot password?</a></h6>
        </div>
    </div>
</div>

