@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Siniflar.SinifGrup3>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="color:green">Number of brands</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th style="color:red">Brand</th>
                            <th style="color:red">Number of brands</th>

                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@x.Marka</td>
                                <td><span class="badge bg-gradient-yellow" style="font-size:20px">@x.Sayi</span></td>
                            </tr>

                        </tbody>
                    }

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
